{% extends 'base/base.html' %}

{% block content %}

<strong>Listado de Jugadores</strong><br><br>
<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombres</td>
			<td>Apellidos</td>
			<td>Fecha de Nacimiento</td>
			<td>email</td>
			<td>Deporte</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for jugador in object_list %}
		<tr>
			<td>{{ jugador.id }}</td>
			<td>{{ jugador.nombres }}</td>
			<td>{{ jugador.apellidos }}</td>
			<td>{{ jugador.fecha_nacimiento }}</td>
			<td>{{ jugador.email }}</td>
			<td>{{ jugador.deporte }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'jugadores:jugador_mostrar' jugador.id %}">Ver</a>
				<a class="btn btn-primary" href="{% url 'jugadores:jugador_editar' jugador.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'jugadores:jugador_eliminar' jugador.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de jugadores</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Siguiente</a> 
    	{% endif %}
    </li>
</ul> 
{% endblock%}